.flex{
    display: flex;
    /*align-items: flex-end;
    justify-content: space-evenly;*/
}
.flex div{
    border: 1px solid #000;
    margin: 15px;
    flex-basis: 100%;
    background-color: #ffa52f ;
    color: #000;
}

.flex img{
    max-width: 250px;
}

/*p{
    width: 250px;
}*/